<footer>
    <div class="bottom_footer">
        <p>Storybook &copy; copyright reserver 2020</p>
        <div class="links">
            <a style="color: wheat" href="#"><i class="fab fa-facebook"></i></a>
            <a style="color: wheat" href="#"><i class="fab fa-twitter"></i></a>
            <a style="color: wheat" href="#"><i class="fab fa-github"></i></a>
            <a style="color: wheat" href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</footer>