<main>
    <div class="story_section">

        <div class="card">
            <div class="card-header">
                <a href="#"><img src="/assets/00000PORTRAIT_00000_BURST20200216173908476-1.jpg" alt="image" /></a>
            </div>
            <div class="card-body">
                <h3 class="card-title">
                    Hello guy's I have super freaking stories that will blow your mind
                </h3>
                <div class="card-user">
                    <img src="/assets/img_avatar2.png" alt="img_avatar2" />
                    <div class="card-user-info">
                        <span class="name">John Doe</span>
                        <span class="date">Dec 14, 2020</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>