<div class="form_container">
    <div class="form_container_item">
        <h3>Login to Storybook</h3>
        {{> _msg}}
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="email"><i class="fas fa-user"></i> Email: </label>
                <input type="email" name="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password"><i class="fas fa-lock"></i>Password : </label>
                <input type="password" name="password" placeholder="Choose Password">
            </div>
            <input type="submit" value="Login" class="btn">
        </form>
        <span>New customer? <a href="/register">register</a></span>
    </div>
</div>