<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Story Book</title>
    <link rel="stylesheet" href="./css/all.css" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="nav-brand"><a href="#">Storybook</a></div>
        <ul class="navbar-nav">
          <li class="nav-item private_story">
            <a href="story.html" class="nav-link story_link"
              >My stories <i class="fas fa-chevron-down"></i
            ></a>
            <ul class="private_story_content">
              <li class="story_item">
                <div class="story_img">
                  <img
                    src="./assets/00000PORTRAIT_00000_BURST20200216173752932.jpg"
                    alt="image"
                  />
                </div>
                <div class="story_body">
                  <a href="#">
                    <h4>
                      Hello guy's I have super freaking stories that will blow
                      your mind
                    </h4></a
                  >
                </div>
              </li>
              <li class="story_item">
                <div class="story_img">
                  <img
                    src="./assets/00000PORTRAIT_00000_BURST20200216173808215.jpg"
                    alt="image"
                  />
                </div>
                <div class="story_body">
                  <a href="#">
                    <h4>
                      Hello guy's I have super freaking stories that will blow
                      your mind
                    </h4></a
                  >
                </div>
              </li>
              <li class="story_item">
                <div class="story_img">
                  <img
                    src="./assets/00000PORTRAIT_00000_BURST20200216173833810.jpg"
                    alt="image"
                  />
                </div>
                <div class="story_body">
                  <a href="#">
                    <h4>
                      Hello guy's I have super freaking stories that will blow
                      your mind
                    </h4></a
                  >
                </div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="story.html" class="nav-link profile dropdown-btn">B</a>
            <ul class="dropdown-content">
              <li class="dropdown-item">
                <a href="profile.html" class="dropdown-link"
                  ><i class="fas fa-users-cog"></i> Manage Account</a
                >
              </li>
              <li class="dropdown-item">
                <a href="story.html" class="dropdown-link"
                  ><i class="fas fa-tasks"></i> Manage Stories</a
                >
              </li>
              <li class="dropdown-item">
                <a href="#" class="dropdown-link"
                  ><i class="fas fa-cog"></i> All Settings</a
                >
              </li>
              <li class="dropdown-item">
                <a href="#" class="dropdown-link"
                  ><i class="fas fa-sign-out-alt"></i> Logout</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="story_detail">
        <div class="card">
          <div class="card-header">
            <a href="#"
              ><img
                src="./assets/00000PORTRAIT_00000_BURST20200216173714751.jpg"
                alt="image"
            /></a>
          </div>
          <div class="card-body">
            <h3 class="card-title">
              Hello guy's I have super freaking stories that will blow your mind
            </h3>
            <div class="card-user">
              <img src="./assets/img_avatar2.png" alt="img_avatar2" />
              <div class="card-user-info">
                <span class="name">John Doe</span>
                <span class="date">Dec 14, 2020</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="bottom_footer">
        <p>Storybook &copy; copyright reserver 2020</p>
        <div class="links">
          <a style="color: wheat" href="#"><i class="fab fa-facebook"></i></a>
          <a style="color: wheat" href="#"><i class="fab fa-twitter"></i></a>
          <a style="color: wheat" href="#"><i class="fab fa-github"></i></a>
          <a style="color: wheat" href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </footer>
    <script src="./js/main.js"></script>
  </body>
</html>
